body{
    margin: 0;

}
nav{
    width: 70%  ;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
}
.logo{
    height: 100%;
    width:  200px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.name{
    font-size: 20px;
    font-weight: 500;
}
.prost{
    font-weight: 900  ;
}
ul{
    width: 700px;
    display: flex;
    justify-content: space-between;
    
}
.sing{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.singin{
    font-size: 16px;
    font-weight: bold;
}
.singup{
    border: 1px solid red;
    padding: 10px 30px;
    border-radius: 20px;
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.first{
    
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 70%;
    margin: 0 auto;
}
.getstart{
    width: 40%;
    
}
.text{
    font-size: 50px;
    font-weight: 700;
    margin-top: 45px;
    margin-block-end: 45px

}
.text0{
    line-height: 30px;
    font-size: 16px;
    margin-top: 45px;
    margin-block-end: 45px

}
.knopka{
    width: 250px;
    height: 60px;
    background-color: red;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    box-shadow: 0px 10px  20px red;
    margin-top: 45px;
    margin-block-end: 45 px  
}
.second{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px  10px 20px grey;

}
.user{
    display: flex;

    align-items: center;
}

.tiv{
    font-size:30px;
    font-weight: bold;
    margin-block-end: 10px;
}
.text1{
    margin-top: 10px;
    font-size: 20px ;
    font-weight: 700;

}
.ftext{
    margin-left: 60px;
    text-align: center;
}
.third{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text2{
    font-size: 40px;
    width: 400px;
    font-weight: 800;

}
.text3{
    width: 500px;
    font-size: 20px;

}
.galochka{
    display: flex;
    align-items: center;
}
.seri{
    width: 100%;
    background-color: #FAFAFA;
    text-align: center;
    padding-top: 80px;
}
.text4{
    font-size: 40px;
    font-weight: 800;
}
.text5{
    font-size: 20px;
    width: 600px;
    margin: 0 auto;
}
.kalonkeq{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
}
.kalonna{
    border: 2px solid darkblue;
    border-radius: 10px;
    padding-top: 100px;
    padding-left: 75px;
    padding-right: 75px;
    padding-block-end:50px ;
    background-color: white;

}
.text6{
    font-size: 20px;
    font-weight: 700;

}
.hnaravor{
    display: flex;
    align-items: center;
}
.text7{
    font-size: 30px;
    font-weight: 800;
    
}
.knopka1{
    color: red;
    font-weight: 800;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid red;
    border-radius: 50px;
}
.kalonna1{
    border: 2px solid red;

}
.knopka00{
    background-color: red;
    color: white;

}
.fast{
    width: 400px;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
    margin-block-end: 30px;
}
.icon{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text8{
    width: 450px;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
    margin-block-end: 30px;
}
.otzivner{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.otziv{
    width: 400px;
    height: 230px;
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid darkblue;
    border-radius: 10px;


}
.verev{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gg{
    display: flex;
    align-items: center;
}
.text9{
    font-size: 20px;
    text-align: left;
}
.text10{
    font-size: 25px;

}
.star{
    width: 25px;

}
.xuy{
    border: 2px solid red;
}
.nkarner{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ajudzax{
    width: 200px;
    /* border: 1px solid darkcyan; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    /* background-color: darkcyan; */
    border: 2px solid red;
}
.itm:last-child{
    background-color: red;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #FAFAFA;
}





